{{#if hasBlock}}
  {{yield this.pages}}
{{else}}
  <ul>
    {{#each this.pages as |page|}}
      {{#if page.number}}
        <li>
          <button type="button"
            {{on 'click' (fn this.updatePage page.number)}}>
              {{page.number}}
          </button>
        </li>
      {{/if}}
    {{/each}}
  </ul>
{{/if}}